$link-color: #d30f40;
$modal-color: #FFEFED;
$white: #FFFFFF;
$black: #000000;
$alert: #ffdada;
$alert-dark: #b31a1a;
$success: #cff3cf;
$success-dark: green;
$overlay: rgba(0,0,0,0.8);
$p-text: #676767;